@model TicketCRM.DataLayer.EmailTemplates.Views.Emails.TicketEmails.TicketNumberViewModel

@{
    ViewData["EmailTitle"] = "Your Ticket";
}

<div>
We have received your request and an agent will contact you shortly 

</div>
   

<br />
Your ticket number is @Model.TicketNo opened on @Model.DateTime
@* @await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Confirm Account", Model.ConfirmEmailUrl)) *@

<br/>


<br />

<p>
TicketCrm
</p>