@using TicketCRM.DataLayer.EmailTemplates.Views.Shared
@model TicketCRM.DataLayer.EmailTemplates.Views.Emails.ForgotPassword.ForgotPasswordCustomModel
@{
    ViewData["EmailTitle"] = "Password Reset";
}

<div>
Click the button below to reset your password

</div>
   

<br />

@await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Reset Password", Model.ResetPasswordLink))

<br/>

<br />

