@model TicketCRM.DataLayer.EmailTemplates.Views.Emails.ProductsEmails.ProductsEmailViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>