
@{
    ViewData["Title"] = "Register";
}


<h1>Confirming Email</h1>
<div>
    <p>
        Thank You for confirming your email
        <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewBag.returnUrl">Login</a>
    </p>
</div>