@{
    ViewData["Title"] = "Confirm Account";
}


<h1>We need to confirm your account</h1>
<p>
    Please check the email you had registered with for a confirmation link. Click on the confirm account button
    in order to activate your account.You will then be redirected to the login page
</p>